body {background-color: darkseagreen;}
header { 
 display:block;
 margin: 30px 10px 50px 30px;
}

ul.gallery li {
float: left;
margin: 0 10px;
padding: 10px 10px 40px 10px;
border: 1px solid #ddd;
border-color:#000;
background-color: #fff;
list-style: none;
}

ul.gallery li a img {
	float: left;
	height: 200px;
	width:  300px;

-webkit-transition: -webkit-transform 0.5s ease-in-out;
-moz-transition: -webkit-transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;

}

ul.gallery li a:hover img, a:focus img{
    opacity: 0.75;
-webkit-transform: scale(1.25) rotate(-15deg);
-moz-transform: scale(1.25) rotate(-15deg);
-o-transform: scale(1.25) rotate(-15deg);
transform: scale(1.25) rotate(-15deg);
-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}